* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.hero {
    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    place-content: center;
    text-align: center;
    max-height: 100vh;
    margin: auto;
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
}
.hero::before { 
    content: ''; 
    background: url('./assets/connect_landing_noBG.png')  
        no-repeat center center/cover; 
    position: absolute; 
    opacity: 0.3; 
    top: -10em; 
    right: 15px; 
    width: 45em; 
    height: 125vh; 
    transform: rotate(-4deg); 
    transform-origin: bottom right;
    z-index: -1; 
} 

.logo {
    height: 7rem;
    margin-top: 4em;
}

.writeUp {
    width: 40em;
}

@media screen and (max-width:765px) {
    .hero {
        width: 100vw;
    }
    .hero::before { 
        content: ''; 
        background: url('./assets/connect_landing_noBG.png')  
            no-repeat center center/cover; 
        position: absolute; 
        opacity: 0.3; 
        top: -4em; 
        right: 0px; 
        width: 100vw; 
        height: 110vh; 
        transform: rotate(-1deg); 
        transform-origin: bottom right;
        opacity: 0.2;
        z-index:-1; 
    } 
    h1 {
        font-size: 3rem;
    }
    .logo {
        margin-top: 2em;
    }

    .writeUp {
        width: 22em;
    }


}

h1 {
    font-weight: 700;
    font-size: 4.6rem;
}

.hero p {
    font-weight: 100;
    font-size: 1.5rem;
    padding-top: 0.5em;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 1.4em;
    margin: 2em auto;
}

.hero button {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 2em;
}
.hero button:hover {
    background-color: rgb(67, 66, 66);
    transform: translate(0.1em, 0.4em);
}
button a {
    display: inline-block;
    color: rgb(0, 0, 0);
    font-weight: 300;
    font-size: 1.2rem;
    padding: 0.6em 0.9em;
}
.hero button a:hover {
    color: rgb(219, 213, 213);
}

